html,
body {
    height: 100%;
}

body {
    font-family: 'Linux Libertine', 'Georgia', sans-serif;
    margin: 0;

    background-color: #90a7be;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin: 2.5% 25%;
}

header {
    margin: 0 25%;
    position: fixed;
    background-color: #90a7be;
    width: 50%;
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 0.5em;
}

pre {
    border-radius: 5pt;
    padding: 10pt;
    overflow-x: auto;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

a {
    color: darkslateblue;
}

a:hover {
    color: darkslategray;
}

.post-title {
    margin: 0.33em 0em;
    padding: 0;
}

.post-descr {
    padding-left: 10pt;
}

.post-descr>* {
    margin: 0;
}

code,
kbd {
    font-family: 'Fira Code', 'Courier New',
        Courier,
        monospace;
}