body {
    font-family: 'Linux Libertine', 'Georgia', sans-serif;

    margin: 5% 25%;
    background-color: #90a7be;
}

pre {
    border-radius: 5pt;
    padding: 10pt;
    overflow-x: auto;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

/* .two-cols {
    column-count: 2;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; *

    column-gap: 5%;
    text-align: justify;
    /* max-height: 70vh; *
}

.col-span {
    column-span: all;
} */

a {
    color: darkslateblue;
}

a:hover {
    color: darkslategray;
}

.post-descr {
    padding-left: 10pt;
}

code {
    font-family: 'Fira Code', 'Courier New',
        Courier,
        monospace;
}