body {
    font-family: 'Linux Libertine', 'Georgia', sans-serif;
    font-size: 15pt;

    margin: 5% 25%;
    background-color: slategray;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

a {
    color: darkslateblue;
}

a:hover {
    color: darkslategray;
}

.post-descr {
    padding-left: 10pt;
}

code {
    font-family: 'Fira Code', 'Courier New',
        Courier,
        monospace;
    font-size: 14pt;
}